body{
    font-size: x-large;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color:blue;

    display:grid;
    grid: "header" 5em    /*row height*/
          "nav   " 5em    /*row height*/    
          "main  " 20em   /*row height*/
          "aside " 10em   /*row height*/
          "footer" 5em /  /*row height*/
          1fr;            /*column width(s) */
}

@media screen and (min-width: 600px) {
    body{
        grid: "header header" 5em   /*row height*/
              "nav    main  " 20em  /*row height*/
              "aside  aside " 10em  /*row height*/
              "footer footer" 5em / /*row height*/
              1fr 2fr;              /*column width(s) */
    }
}

@media screen and (min-width: 800px) {
    body{
        grid: "header header header" 5em    /*row height*/
              "nav    main   aside " 20em   /*row height*/
              "footer footer footer" 5em /  /*row height*/
              1fr 2fr 1fr;                  /*column width(s) */
    }
}

header { grid-area: header; }
nav { grid-area: nav; }
main { grid-area: main; }
aside { grid-area: aside; }
footer { grid-area: footer; }