.my-ads {
  display: grid;
  gap: 2rem;
  padding: 1rem;
}

.my-ads h3 {
  grid-column: 1 / -1;
  margin: 0px;
}

@media screen and (min-width: 540px) {
  .my-ads {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1080px) {
  .my-ads {
    grid-template-columns: repeat(4, 1fr);
  }
}
