footer {
  grid-area: footer;
  display: grid;
  font-size: 10px;
  padding: 1rem;
  gap: 3rem;
  grid:
    "footernav" min-content
    "language " min-content
    "technical" min-content /
    1fr;
}

footer h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

footer > .footer-nav {
  grid-area: footernav;
  display: grid;
  gap: 3rem;
}

footer > .footer-nav > article {
  display: grid;
  gap: 1rem;
}

footer .lang-select {
  grid-area: language;
  font-weight: lighter;
}

footer .lang-select .img {
  font-size: 16px;
  padding-right: 1rem;
}

footer > .technical {
  grid-area: technical;
  display: flex;
  gap: 0.2rem 1rem;
  flex-wrap: wrap;
}

@media screen and (min-width: 540px) {
  footer > .footer-nav {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1085px) {
  footer > .footer-nav {
    grid-template-columns: repeat(6, 1fr);
  }

  footer {
    grid:
      "footernav footernav" min-content
      "language  technical" min-content /
      200px;
  }

  footer > .technical {
    justify-self: end;
  }
}
