.jumboimg {
  grid-area: jumboimg;
  width: 100%;
  position: relative;
  justify-self: center;
  max-height: 80vh;
}

.jumboimg > .foregroundimg {
  width: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.jumboimgdesc p,
h4,
h5 {
  margin: 0;
  text-align: center;
}

.jumboimgdesc {
  grid-area: jumboimgdesc;
  z-index: 1;
  display: grid;
  gap: 0.5rem 3rem;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  grid:
    "banner banner" max-content
    "title  title " max-content
    "desc   desc  " max-content
    "btn    appt  " max-content /
    1fr 1fr;
}

.jumboimgdesc > .banner {
  grid-area: banner;
  font-size: 14px;
  background-color: yellow;
  color: black;
  text-align: center;
  padding: 0.4rem 1.5rem;
  font-weight: bold;
}

.jumboimgdesc > h4 {
  grid-area: title;
  font-size: 26px;
  font-weight: lighter;
}

.jumboimgdesc > p {
  grid-area: desc;
}

.jumboimgdesc > button {
  grid-area: btn;
  justify-self: end;
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: black;
  border: none;
  font-weight: bold;
}
.jumboimgdesc > h5 {
  grid-area: appt;
  justify-self: start;
  align-self: center;
}

@media screen and (min-width: 770px) {
  .jumboimgdesc {
    grid-area: jumboimg;
    justify-items: start;

    grid:
      "banner" max-content
      "title " max-content
      "desc  " max-content
      "btn   " max-content
      "appt  " max-content /
      20em;

    margin-top: 3rem;
    margin-left: 3rem;
  }
  .jumboimgdesc > button {
    justify-self: start;
  }
  .jumboimgdesc p {
    text-align: left;
  }
  .jumboimgdesc > h5 {
    margin-left: 3rem;
  }
}
