body {
  font-size: x-large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: blue;

  display: grid;
  grid:
    "header" min-content /*row height*/
    "main  " max-content /*row height*/
    "footer" min-content / /*row height*/
    1fr; /*column width(s) */
}

.search {
  grid-area: search;
}

.cart {
  grid-area: cart;
}

.account {
  grid-area: acct;
}

.area {
  background-color: blue;
  border: 2px lightblue solid;
  color: white;
}

@media screen and (min-width: 860px) {
}

@media screen and (min-width: 1000px) {
}
