main {
  grid-area: main;
  display: grid;
  grid:
    "jumboimg    " min-content
    "jumboimgdesc" min-content
    "ads         " min-content
    "homeads     " min-content
    "highlightad " min-content
    "businessads " min-content
    "teamsad     " min-content
    "socialmedia " min-content
    /
    1fr;
  gap: 3rem;
  padding: 0.5rem;
}

.img-landscape {
  aspect-ratio: 3 / 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.img-portrait {
  aspect-ratio: 2 / 3;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 770px) {
  main {
    grid:
      "jumboimg    " min-content
      "ads         " min-content/
      1fr;
  }
}
