nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav > ul > li {
  padding: 0.2rem 1rem;
  border-left: solid 1px gray;
}

nav li {
  position: relative;
}

nav a {
  text-decoration: none;
}

nav > li:first-child {
  border-left: none;
}

.submenu {
  position: absolute;
  width: max-content;
  display: none;
  gap: 0.8rem;
  list-style: none;
  flex-direction: column;
  padding: 0.8rem;
  top: 100%;
  left: 0;
  background-color: white;
  border: solid 1px rgb(219, 205, 205);
}

.submenu a,
.submenu li {
  color: rgb(87, 87, 87);
}

nav li:hover > .submenu {
  display: flex;
}
