body {
  background-color: #e8f5f7;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
}

h3 {
  margin: 0;
}

h1 {
  margin-bottom: 3rem;
}

main {
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
  grid-template-columns: 250px max-content;
  align-items: center;
}
